@using Microsoft.AspNetCore.Identity
@using KWin.Models
@using System.Web
@using System.Security.Claims
@inject SignInManager<BettingUser> SignInManager
@inject UserManager<BettingUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/shop-homepage.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            @if (!this.SignInManager.IsSignedIn(this.User))
            {

                <a class="navbar-brand" href="/Home/Index">KWin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Register">Register</a>
                        </li>
                    </ul>
                </div>
            }
            else if (this.User.IsInRole("User"))
            {
                <a class="navbar-brand" href="/Home/Index">KWin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Bets/MyBets">My bets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Matches/AllMatches">Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Teams/AllTeams">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Logout">Logout</a>
                        </li>
                        <li class="nav-item nav-link">
                            Balance: @this.UserManager.GetUserAsync(User).Result.Balance.ToString("f2") BGN
                        </li>

                    </ul>
                </div>
            }
            else if (this.User.IsInRole("Admin"))
            {
                <a class="navbar-brand" href="/Home/Index">KWin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/Home/Index">
                                Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Users/AddBalanceToUsers">Add balance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Bets/MyBets">My bets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Matches/AllMatches">Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Teams/AllTeams">Teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Identity/Account/Logout">Logout</a>
                        </li>
                        <li class="nav-item nav-link">
                            Balance: @this.UserManager.GetUserAsync(User).Result.Balance.ToString("f2") BGN
                        </li>
                    </ul>
                </div>
            }
        </div>
    </nav>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style="clear: both; position: fixed; bottom: 0;">
        <div class="container">
            &copy; 2019 - KWin
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
