@using Microsoft.AspNetCore.Identity
@using KWin.Models
@model KWin.Models.Matches.MatchesViewModel


@{
    ViewData["Title"] = "All matches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-between">
    <table class="table table-hover table-bordered">
        <tbody>
            <tr class="row">

                <th scope="row" class="col-lg-3 d-flex justify-content-center table-secondary"><h5>First team</h5></th>
                <th scope="row" class="col-lg-3 d-flex justify-content-center table-secondary"><h5>Second team</h5></th>
                <th scope="row" class="col-lg-1 d-flex justify-content-center table-secondary"><h5>Starting time</h5></th>
                <th scope="row" class="col-lg-1 d-flex justify-content-center table-secondary"><h5>Make a bet</h5></th>
                <th scope="row" class="col-lg-1 d-flex justify-content-center table-secondary"><h5>1</h5></th>
                <th scope="row" class="col-lg-1 d-flex justify-content-center table-secondary"><h5>X</h5></th>
                <th scope="row" class="col-lg-1 d-flex justify-content-center table-secondary"><h5>2</h5></th>
                <th scope="row" class="col-lg-1 d-flex justify-content-center table-secondary"><h5>Result</h5></th>
                @for (int i = 0; i < @Model.matches.Count; i++)
                {
                        <td class="col-lg-3 d-flex justify-content-center font-weight-bold">
                            @Model.matches[i].FirstTeamName
                        </td>
                        <td class="col-lg-3 d-flex justify-content-center font-weight-bold">
                            @Model.matches[i].SecondTeamName
                        </td>
                        <td class="col-lg-1 d-flex justify-content-center font-weight-bold">
                            @Model.matches[i].StartingTime.ToString("dd/MM") <br />
                            @Model.matches[i].StartingTime.ToString("hh:mm")
                        </td>
                        <td class="col-lg-1 d-flex button-holder justify-content-center font-weight-bold">
                            <form method="get" action="/Bets/MakeABet">
                                @if (Model.matches[i].StartingTime < DateTime.UtcNow)
                                {
                                    <p>BETS ARE CLOSED</p>
                                }
                                else
                                {
                                    <button name="matchId" style="width: 55px; border-radius: 5px" class="btn-dark text-white" type="submit" value="@Model.matches[i].MatchId">
                                        BET
                                    </button>
                                }
                            </form>

                        </td>
                        <td class="col-lg-1 d-flex justify-content-center font-weight-bold">
                            @Model.matches[i].FirstTeamOdds
                        </td>
                        <td class="col-lg-1 d-flex justify-content-center font-weight-bold">
                            @Model.matches[i].DrawOdds
                        </td>
                        <td class="col-lg-1 d-flex justify-content-center font-weight-bold">
                            @Model.matches[i].SecondTeamOdds
                        </td>
                        <td class="col-lg-1 d-flex justify-content-center font-weight-bold">
                            @Model.matches[i].Result
                        </td>
                        }
                </tr>
            </tbody>
        </table>
    </div>
